@model MVCCustomerCrudDemo.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowCustomerDetailsDI</title>
</head>
<body>
    <div>
        <h2>CustomerId :  @Model.CustomerId</h2>
        <h2>CustomerName : @Model.CustomerName</h2>
        <h2>CustomerContact : @Model.Contact</h2>
    </div>
</body>
</html>
