@model MVCWithHTMLHelperTagAndSessionDemo.Models.NetizensUser

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_AfterLayout.cshtml";
}

<h2>Welcome Netizens</h2>

<table align="left">
    <tr><th>User ID</th><td>@Model.UserId</td></tr>
    <tr><th>Name</th><td>@Model.UserName</td></tr>
    <tr><th>Email</th><td>@Model.EmailId</td></tr>
    <tr><th>Contact No.</th><td>@Model.Contact</td></tr>
</table>