
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DError</title>
</head>
<body>
    <div> 
    </div>
    <h1>Divide By Zero Exception</h1>
</body>
</html>
