
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        body{

            background-color:yellow;
        }

    </style>
    <title>Error</title>
</head>
<body>
    <div> 
    </div>
    <h1>UNHANDLED EXCEPTION</h1>
</body>
</html>
