
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-color:cornflowerblue;color:floralwhite;font-size:x-large">
        Action Filter : Action filter helps you to perfrom logic while
        MVC action is Executing or MVC action Executed
    </div>
    <h2>Action filters are usefull in the following way :</h2>
    <ul>
        <li>Implement post-porocessing logic before the action happens</li>
        <li>Cancel a current execution</li>
        <li>Inspect the returned value</li>
        <li>Provide extra data to the action</li>
    </ul>
    <h2>You can create action filter in two ways</h2>
    <ol>
        <li>INLINE ACTION FILTER</li>
        <li>CREATE AN "ACTION FILTER " ATTRIBUTE</li>
    </ol>

</body>
</html>
