
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyIndex</title>
</head>
<body>
    <div>
    </div>
    <h1>THIS VIEW CONTAIN ACTION FILTER ATTRIBUTE LOGIC FOR MYVIEW</h1>
</body>
</html>
