
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Action Result And View Action , these both are the classes ,
        which is used to define result.

       

    </div>
</body>
</html>
